# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/

# Variables de entorno (¡NO SUBIR CREDENCIALES!)
.env
.env.*
!.env.example

# Datos e índices generados (Se comenta faiss_index para que suba al repo y Render lo tenga disponible)
# faiss_index/

chat_history.db
